<a href="https://colab.research.google.com/github/pushpakjagtap15-ui/Exp-9/blob/main/Experiment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Experiment-9
#Basics of Pandas

In [ ]:
import pandas as pd
series=pd.Series([11,22,33,44,55])
print(series)

series1=pd.Series([11,22,33,44,"55"])
print(series1)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0    11
1    22
2    33
3    44
4    55
dtype: object

In [ ]:
data={
    "Name":["a","v","d","e","q"],
    "Age":[12,13,14,15,16],
    "Marks":[11,22,47,89,67]
}
df=pd.DataFrame(data)
print(df)

print(df.shape)

  Name  Age  Marks
0    a   12     11
1    v   13     22
2    d   14     47
3    e   15     89
4    q   16     67
(5, 3)

In [ ]:
data={
    "Name":["a","v","d","e","q"],
    "Age":[12,13,14,15,16],
    "Marks":[11,22,47,89,67]
}
df=pd.DataFrame(data)
print(df)

print(df.shape)

print(df.ndim)
print(df.size)
print(df.head(3))
print(df.tail())
print(df.columns)
print(df.dtypes)

df["grade"]=["D","C","B+","A+","B"]
print(df)

  Name  Age  Marks
0    a   12     11
1    v   13     22
2    d   14     47
3    e   15     89
4    q   16     67
(5, 3)
2
15
  Name  Age  Marks
0    a   12     11
1    v   13     22
2    d   14     47
  Name  Age  Marks
0    a   12     11
1    v   13     22
2    d   14     47
3    e   15     89
4    q   16     67
Index(['Name', 'Age', 'Marks'], dtype='object')
Name     object
Age       int64
Marks     int64
dtype: object
  Name  Age  Marks grade
0    a   12     11     D
1    v   13     22     C
2    d   14     47    B+
3    e   15     89    A+
4    q   16     67     B